.App {
  font-family: sans-serif;
  text-align: center;
}

.dog {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.dog > img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
  position: relative;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  appearance: none;
  background: #5c68be;
  border: none;
  color: white;
  padding: 1rem;
  font-weight: bold;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(92, 104, 190, 0.5);
  cursor: pointer;
  margin-left: 1rem;
}

figure {
  border-radius: 1rem;
  border: 1px solid #aaa;
  cursor: pointer;
}
